# /etc/systemd/system/announce.timer
[Unit]
Description=Run pocket-dns announcement service every 25 minutes

[Timer]
Unit=announce.service
OnUnitInactiveSec=25m
AccuracySec=1s

[Install]
WantedBy=timers.target
